USE [master]
GO
/****** Object:  Database [Hastane]    Script Date: 25.05.2022 00:11:54 ******/
CREATE DATABASE [Hastane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hastane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hastane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hastane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hastane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hastane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hastane]
GO
/****** Object:  Table [dbo].[DoktorTablo]    Script Date: 25.05.2022 00:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoktorTablo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TcNo] [varchar](11) NOT NULL,
	[Sifre] [varchar](25) NOT NULL,
	[Ad] [varchar](25) NOT NULL,
	[Soyad] [varchar](25) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[DogumYeri] [varchar](50) NOT NULL,
	[Cinsiyet] [varchar](10) NOT NULL,
	[Telefon] [varchar](11) NOT NULL,
	[Adres] [varchar](100) NOT NULL,
	[Bolum] [varchar](25) NOT NULL,
 CONSTRAINT [PK_DoktorTablo] PRIMARY KEY CLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_DoktorTablo] UNIQUE NONCLUSTERED 
(
	[Sifre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastaTablosu]    Script Date: 25.05.2022 00:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastaTablosu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TcNo] [varchar](11) NOT NULL,
	[Sifre] [varchar](25) NOT NULL,
	[Ad] [varchar](25) NOT NULL,
	[Soyad] [varchar](25) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[DogumYeri] [varchar](50) NOT NULL,
	[Cinsiyet] [varchar](10) NOT NULL,
	[KanGrubu] [varchar](25) NOT NULL,
	[Telefon] [varchar](11) NOT NULL,
	[Adres] [varchar](100) NOT NULL,
 CONSTRAINT [PK_HastaTablosu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_HastaTablosu] UNIQUE NONCLUSTERED 
(
	[Sifre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevu]    Script Date: 25.05.2022 00:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bolum] [varchar](50) NULL,
	[DrID] [int] NULL,
	[Tarih] [varchar](50) NULL,
	[0900] [int] NULL,
	[1000] [int] NULL,
 CONSTRAINT [PK_Randevu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeshisTedavi]    Script Date: 25.05.2022 00:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeshisTedavi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Teshis] [text] NULL,
	[Tedavi] [text] NULL,
	[HastaID] [int] NULL,
	[DrID] [int] NULL,
	[TeshisTarih] [date] NULL,
 CONSTRAINT [PK_TeshisTedavi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
